.features {
    position: relative;
    background-color: #f0f4f8;
    padding-top: 40px;
    top: -55px;
}

.features .box {
    padding: 50px;

}

.features .box h2 {
    margin: 20px 0 20px 0;
    transition: 500ms;
}

.features .box p {
    word-spacing: 2px;
    transition: 500ms;
}

.features .box .fe-icon {
    font-size: 35px;
    margin-top: 30px;
    transition: 500ms;
    opacity: 0;
}

.features .box:hover p,
.features .box:hover h2{
    color:#fff;
}
.features .box:hover .fe-icon{
    color: #fff;
    opacity: 1;

}


.card svg{
    width: 30px;
    height: 30px;
}